// Рыба для шрифта, потом поменяем для утвержденного:
@font-face {
  font-family: "FuturaNewBook400";
  src: url("../assets/fonts/FuturaNewBook-Reg.eot") format("eot"),
    url("../assets/fonts/FuturaNewBook-Reg.ttf") format("ttf"),
    url("../assets/fonts/FuturaNewBook-Reg.woff") format("woff"),
    url("../assets/fonts/FuturaNewBook-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
