.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 2rem;

  &__inner {
    display: flex;
    padding-left: $left-block-gap;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    padding-right: $right-block-gap;
  }

  &__socials {
    display: flex;
    gap: 10px;
  }

  &__phone {
    @include flex-column;
    font-family: "FiraSans_Regular400", sans-serif;
    font-size: 1.25rem;
    line-height: 130%;

    white-space: nowrap;

    a {
      position: relative;
      display: inline-block;
      color: $white;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: $white;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
}

a,
a:hover {
  text-decoration: none;
}

.nav {
  padding-left: 4rem;

  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  &__item {
    padding: 1.25rem;
    font-family: "FiraSans_Regular400", sans-serif;
    font-size: 1.25rem;
    line-height: 130%;
  }

  &__link {
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;
    color: $white;
    line-height: 1.3;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: $orange;
      transition: 0.3s ease-out;
    }

    &:hover {
      color: $orange;

      &:before {
        width: 100%;
      }
    }
  }
}

.side-menu {
  display: none;
}

@media screen and (max-width: 1025px) {
  .header {
    position: sticky;
    z-index: 999998;
    top: 0;
    width: 100%;
  }

  .nav {
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 999998;
    background-color: $orange;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;

    &__inner {
      display: inline;
      width: 100%;
    }

    &__item {
      width: 100%;
    }

    &__link {
      display: block;
      padding: 30px;
      color: $white;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $white;
        transition: 0.3s ease-out;
      }

      &:hover {
        color: $white;
      }
    }
  }

  .hamb {
    cursor: pointer;
    float: right;
    padding: 30px 15px;
    border: $orange-border;
    border-radius: 5%;
  }

  .hamb-line {
    background: $white;
    display: block;
    height: 2px;
    position: relative;
    z-index: 999999;
    width: 20px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: $white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    z-index: 999999;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamb-line::before {
    top: 5px;
  }
  .hamb-line::after {
    top: -5px;
  }

  .side-menu:checked ~ nav {
    max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}
