$orange: #fb8d00;
$grey: #ededed;
$grey-dark: #c8c8c8;
$black: #292929;
$white: #ffffff;

/*# Блок дополнительно */
.additionally {
    margin-left: $left-block-gap;
    margin-right: 3rem;
    background-color: $orange;
    color: $white;
    padding: 10px;
    border-radius: 1rem;
    font-family: "FiraSans_Regular400", sans-serif;
}
/*# Кнопка в блоке услуги */
.btn-custom-services {
  $orange-border: 1px solid $orange;
  color: $orange;
  background-color: $white;
}
/*# эффект при наведении на кнопку */
.btn-custom-services:hover {
  color: $white; 
  background-color: $orange; 
}
/*# Формат текста, оверлей на карточках блока отправления */
.card-img-overlay h2, .card-img-overlay p {
  text-align: left; 
  color: $white;
  padding: 2px; 
  margin-bottom: 1px;
}
/*# Заголовок Отправления */
.title-departures {
  margin-left: 5rem;
  margin-top: 5%;
}
/*# Заголовок Услуги */
.title-services {
    margin-left: 5rem;
    margin-top:5%;
}

/*# Кнопка в блоке услуги */
.btn-custom-services {
  border: 1px solid $orange;
  color: $orange;
  background-color: $white;
}
/*# эффект при наведении на кнопку */
.btn-custom-services:hover {
  color: $white; 
  background-color: $orange; 
}
/*# Формат текста, оверлей на карточках блока отправления */
.card-img-overlay h2, .card-img-overlay p {
  text-align: left; 
  color: $white;
  padding: 2px; 
  margin-bottom: 1px;
}
/*# Карточка отправления Германия */
.card.germany {
  margin-left: 4rem;
  margin-right: 3rem;
  max-height: 100%;
  border-color: $white;
}
/*# Карточка отправления Калининград */
.card.kaliningrad {
  margin-left: 4rem;
  margin-right: 3rem;
  max-height: 100%;
  border-color: $white;
}
.card-body.departures {
  padding: 0px;
}
/*# Кнопка в блоке услуги */
.btn-services {
  border: 1px solid $orange;
  color: $orange;
  background-color: $white;
}
/*# Эффект при наведении на кнопку */
.btn-services:hover {
  color: $white; 
  background-color: $orange; 
}

/*# Услуги */
.services_row {
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 2rem;
}
/*# Дополнительно */

/*# Текст */
.list.additionally {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}
/*# Восклицательный знак */
.img.warning {
  margin-left: 60%;
  margin-top: 3%;
}

.card-body.services {
  display: flex;
  margin-top: 2%;
}

.card-img.services {
  max-width: 800px;
  max-height: 537px;
  padding: 5%;
}

@media (max-width: 767px) {
  .img.warning {
    margin-left: 1%;
  }
}
@media (max-width: 767px) {
  .card.germany,
  .card.kaliningrad  {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; /* Добавьте отступ между карточками */
  }
}
