$orange: #fb8d00;
$grey: #ededed;
$grey-dark: #c8c8c8;
$black: #292929;
$white: #ffffff;

/*# Блок дополнительно */
.additionally {
    margin-left: $left-block-gap;
    margin-right: 3rem;
    background-color: $orange;
    border-radius: 1rem;
}
/*# Кнопка в блоке услуги */
.btn-custom-services {
  $orange-border: 1px solid $orange;
  color: $orange;
  background-color: $white;
}
/*# эффект при наведении на кнопку */
.btn-custom-services:hover {
  color: $white; 
  background-color: $orange; 
}
/*# Формат текста, оверлей на карточках блока отправления */
.card-img-overlay h2, .card-img-overlay p {
  text-align: left; 
  color: $white;
  padding: 2px; 
  margin-bottom: 1px;
}
/*# Заголовок Отправления */
.title-departures {
  margin-left: 5rem;
  margin-top: 5%;
}
/*# Заголовок Услуги */
.title-services {
    margin-left: 5rem;
    margin-top:5%;
}

/*# Кнопка в блоке услуги */
.btn-custom-services {
  border: 1px solid $orange;
  color: $orange;
  background-color: $white;
  margin-top: 0px;
}

/*# эффект при наведении на кнопку */
.btn-custom-services:hover {
  color: $white; 
  background-color: $orange; 
}
/*# Формат текста, оверлей на карточках блока отправления */
.card-img-overlay h2, .card-img-overlay p {
  text-align: left; 
  color: $white;
  padding: 2px; 
  margin-bottom: 1px;
}
/*# Карточка отправления Германия */
.card.germany {
  margin-left: 4rem;
  margin-right: 3rem;
  max-height: 100%;
  border-color: $white;
}
/*# Карточка отправления Калининград */
.card.kaliningrad {
  margin-left: 4rem;
  margin-right: 3rem;
  max-height: 100%;
  border-color: $white;
}
.card-body.departures {
  padding: 0px;
}
/*# Кнопка в блоке услуги */
.btn-services {
  border: 1px solid $orange;
  color: $orange;
  background-color: $white;
}
/*# Эффект при наведении на кнопку */
.btn-services:hover {
  color: $white; 
  background-color: $orange; 
}

/*# Услуги */
.services_row {
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 2rem;
}

/*# Текст */
.list.additionally {
  color: $white;
  margin-left: 40px;
  font-family: "FiraSans_Regular400";
  font-size: 20px;
  line-height: 150%;
}

.card-img.services {
  display: flex;
  object-fit: cover; /* Обрезать изображение под размер контейнера */
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-title.services {
  margin-top: 2px;
  color: $black;
  font-family: "FiraSans_SemiBold600";
  font-size: 24px;
  line-height: 130%;
}
.title-additionally {
  color: $white;
  font-family: "FiraSans_SemiBold600";
  font-size: 24px;
  line-height: 130%;
  margin-left: 30px;
  margin-top: 30px;
}
.card-text.services {
  color: $black;
  font-family: "FiraSans_Regular400";
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .img.warning {
    display: flex;
    margin-left: 1%;
    width: 30px; /* Ширина контейнера */
    height: 30px; /* Высота контейнера */
  }
}
@media (max-width: 767px) {
  .card.germany  {
  display: flex;
  flex-direction: column;
  width: 320px; /* Ширина контейнера */
  height: 544px; /* Высота контейнера */
  object-fit: cover; /* Обрезать изображение под размер контейнера */
  margin-bottom: 25px; /* Добавьте отступ между карточками */
  }
}
@media (max-width: 767px) {
  .card.kaliningrad  {
  display: flex;
  flex-direction: column;
  width: 320px; /* Ширина контейнера */
  height: 560px; /* Высота контейнера */
  object-fit: cover; /* Обрезать изображение под размер контейнера */
  margin-bottom: 25px; /* Добавьте отступ между карточками */
  }
}
