.footer {
  @include flex-column;
  margin: 0 auto;
  margin-top: 11.625rem;
  padding-bottom: 1rem;

  &__inner {
    display: flex;
    padding-left: $left-block-gap;
    padding-right: $right-block-gap;
    justify-content: space-between;
    border-bottom: $grey-border;

    &_content {
      display: flex;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__socials {
    display: flex;
    gap: 10px;
  }

  .nav {
    padding-left: 1.875rem;
    &__link {
      color: $black;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: $orange;
        transition: 0.3s ease-out;
      }

      &:hover {
        color: $orange;

        &:before {
          width: 100%;
        }
      }
    }
  }

  &__holder {
    display: flex;
    padding-top: 1.25rem;
    padding-left: $left-block-gap;
    padding-right: $right-block-gap;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    gap: 1.875rem;

    a {
      color: $black;
    }
  }
}

.policy {
  display: flex;
  gap: 1.25rem;

  a {
    color: $black;
  }
}
@media screen and (max-width: 1285px) {
  .nav__item {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1025px) {
  .footer {
    padding-top: 1.875rem;
    margin-top: 9.375ram;
    margin-bottom: 5rem;
    flex-direction: row;
    justify-content: space-between;
    border-top: $grey-border;

    &__logo {
      display: flex;
      align-items: start;
    }

    &__inner {
      width: 50%;
      position: relative;
      border-bottom: none;

      &_content {
        .nav {
          &__inner {
            @include flex-column;
            width: max-content;
            align-items: start;
            gap: 10px;
          }

          &__item {
            padding: 0;
          }
        }
      }
    }

    &__socials {
      position: absolute;
      top: 4.375rem;
    }

    &__holder {
      @include flex-column;
      padding-right: 1.25rem;
      align-items: flex-start;
      padding-top: 0;
      justify-content: flex-start;
    }

    &__contacts {
      @include flex-column;
      order: -1;
      gap: 0;
    }
  }

  .policy {
    @include flex-column;
    order: 0;
    gap: 0;

    p {
      margin: 0;
      order: 1;
    }

    a {
      order: -1;
    }
  }
}

@media screen and (max-width: 820px) {
  .footer {
    display: block;

    &__inner {
      &_content {
        display: block;
      }

      .nav {
        padding-top: 8rem;
        padding-left: 0;
        padding-bottom: 1.875rem;
      }
    }

    &__holder {
      padding-bottom: 1.875rem;
    }
  }
}

@media screen and (max-width: 370px) {
  .footer__phone {
    @include flex-column;
  }
}
