.inner-container {
  max-width: 1553px;
  --bs-gutter-x: 1.5rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ededed;
}

.container-block {
  display: flex;
  align-items: center;
  gap: 2px;
}

.container-block h3 {
  font-family: "FiraSans_Regular400";
  font-size: 96px;
  font-weight: 400;
  line-height: 125px;
  letter-spacing: 0.03em;
  text-align: left;
  flex: 1;
  -webkit-text-stroke: 2px #fb8d00;
  color: #fff;
  margin-right: 20px;
}

.container-block p {
  font-family: "FiraSans_Regular400";
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  flex: 6;
}

@media screen and (max-width: 767px) {
  .container-block h3 {
    font-size: 64px;
  }
  .container-block p {
    font-size: 18px;
  }
  .container-block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 280px;
  }

  .inner-container {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-block h3 {
    font-size: 64px;
  }
  .container-block p {
    font-size: 18px;
  }

  .container-block {
    max-width: 342px;
  }
}
