$orange: #fb8d00;
$grey: #ededed;
$grey-dark: #c8c8c8;
$black: #292929;
$white: #ffffff;

/*# Стили для Desktop */
.departures {
    width: 1793px;
    height: 606px;
    padding: 0;
    margin-left: 1.700rem;
}
.title-departures {
    width: 252px;
    height: 57px;
    margin-left: 3rem;
    margin-top: 10%;
    margin-bottom: 25px;
    color: $black;
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 40px;
    line-height: 130%;
}
.card.germany {
    width: 870px;
    height: 524px;
    padding: 0;
    border-color: $white;
}
.card-img-overlay.Germany {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 870px;
    height: 524px;
    margin: 0;
    padding: 0;
    text-align: left; 
    color: $white;
    padding: 2px; 
    margin-bottom: 90px;
    object-fit: cover;
}
.img-fluid.Germany {
    width: 870px;
    height: 524px;
}
    .card-title.Germany {
        font-family: "FiraSans_SemiBold600", serif;
        font-size: 32px;
        line-height: 110%;
        width: 145px;
        height: 35px;
        margin-bottom: 15px;
        margin-left: 30px;
        color: $white;
        font-family: "FiraSans_SemiBold600", serif;
      }
    .card-text.germany1 {
        width: 564px;
        height: 26px;
        color: $white;
        font-family: "FiraSans_Regular400", serif;
        font-size: 20px;
        line-height: 130%;
        margin-left: 30px;
        margin-bottom: 5px;
      } 
    .card-text.germany2 {
        width: 518px;
        height: 18px;
        color: $white;
        font-family: "FiraSans_Regular400", serif;
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 35px;
        margin-left: 30px;
      }
    
    .card.kaliningrad {
        width: 870px;
        height: 524px;
        padding: 0;
        border-color: $white;
      }
    .img-fluid.Kaliningrad {
        width: 870px;
        height: 524px;
      }
    .card-img-overlay.Kaliningrad {
        display: flex;
        justify-content: end;
        flex-direction: column;
        width: 870px;
        height: 524px;
        text-align: left; 
        color: $white;
        padding: 2px; 
        margin-bottom: 90px;
        object-fit: cover;
      }
    .card-title.Kaliningrad {
        font-family: "FiraSans_SemiBold600", serif;
        font-size: 32px;
        line-height: 110%;
        width: 199px;
        height: 35px;
        margin-bottom: 15px;
        margin-left: 30px;
        color: $white;
      }
    .card-text.kaliningrad1 {
        width: 351px;
        height: 26px;
        color: $white;
        font-family: "FiraSans_Regular400", serif;
        font-size: 20px;
        line-height: 130%;
        margin-left: 30px;
        margin-bottom: 5px;
      } 
    .card-text.kaliningrad2 {
        width: 644px;
        height: 18px;
        color: $white;
        font-family: "FiraSans_Regular400", serif;
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 30px;
        margin-left: 30px;
      }
    
    .services {
        width: 1900px;
        height: 750px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }
      .row.services {
        width: 1900px;
        height: 200px;
      }
      
    .title-services {
        width: 152px;
        height: 52px;
        color: $black;
        font-family: "FiraSans_SemiBold600", serif;
        font-size: 40px;
        line-height: 130%;
        margin-top: 70px;
        margin-bottom: 30px;
        margin-left: 5rem;
      }
      
    .services_row {
        width: 1792px;
        height: 580px;
        display: flex;
        justify-content: space-between;
        margin-left: 3.400rem;
      }
    .card.border.services {
        width: 870px;
        height: 259px;
      }
    .card-img.services {
        width: 390px; 
        height: 199px;
        display: flex;
        object-fit: cover; /* Обрезать изображение под размер контейнера */
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
      }
    .card-text.services {
        width: 390px; 
        height: 113px;
        color: $black;
        font-family: "FiraSans_Regular400";
        font-size: 16px;
        line-height: 150%;
        margin-top: 5px;
        margin-bottom: 0;
      }
    
    .card-body.services {
        width: 395px;
        height: 199px;
        padding: 7px;
      }
    
    .card-title.services {
        width: 400px;
        height: 31px;
        margin-top: 10px;
        color: $black;
        font-family: "FiraSans_SemiBold600";
        font-size: 24px;
        line-height: 130%;
      }
    
      /*# Кнопка в блоке услуги */
    .btn-custom-services {
        $orange-border: 1px solid $orange;
        color: $orange;
        background-color: $white;
        border: 1px solid $orange;
        color: $orange;
        background-color: $white;
        margin-top: 0px;
      }
      /*# эффект при наведении на кнопку */
    .btn-custom-services:hover {
        color: $white; 
        background-color: $orange; 
      }

    .btn.btn-custom-services {
        width: 500px; 
        height: 54px;
      }
    .btn.btn-services {
        width: 390px; 
        height: 66px;
        $orange-border: 1px solid $orange;
        color: $orange;
        background-color: $white;
      }
    .modal.fade.services {
        width: 624px; 
        height: 684px;
      }
    .additionally.row {
        width: 1767px; 
        height: 261px;
        margin-left: $left-block-gap;
        margin-right: 3rem;
        background-color: $orange;
        border-radius: 1rem;
        margin-top: 1px;
      }

    .title-additionally {
        color: $white;
        font-family: "FiraSans_Regular400", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin-left: 35px;
        margin-top: 20px;
      }


    .list.additionally {
        color: $white;
        margin-left: 45px;
        font-family: "FiraSans_Regular400", serif;
        font-size: 18px;
        line-height: 150%;
        margin-top: 5px;
    }
    
    .img.warning {
      width: 123px;
      height: 123px;
      margin-top: 100px;
      margin-left: 400px;
    }

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Блок отправления */
  .departures {
    width: 1024px;
    height: 1085px;
  }
  .title-departures {
    color: $black;
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 32px;
    line-height: 110%;
    width: 201px;
    height: 35px;
  }
  .card.germany {
    width: 871px;
    height: 505px;
    margin-left: 4rem;
    margin-right: 3rem;
    padding: 0;
  }
  .card-img-overlay.Germany {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 873px;
    height: 460px;
    margin: 0;
  }
  .card-title.Germany {
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 24px;
    line-height: 130%;
    width: 120px;
    height: 31px;
    margin-bottom: 15px;
    margin-left: 30px;
  }
  .card-text.germany1 {
    width: 550px;
    height: 23px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 18px;
    line-height: 130%;
    margin-left: 30px;
    margin-bottom: 5px;
  } 
  .card-text.germany2 {
    width: 450px;
    height: 16px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .card.kaliningrad {
    width: 871px;
    height: 570px;
    margin-left: 4rem;
    margin-right: 3rem;
    padding: 0;
  }
  .img-fluid.Kaliningrad {
    width: 960px;
    height: 505px;
  }
  .card-img-overlay.Kaliningrad {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 873px;
    height: 506px;
    margin: 0;
  }
  .card-title.Kaliningrad {
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 24px;
    line-height: 130%;
    width: 170px;
    height: 31px;
    margin-bottom: 15px;
    margin-left: 30px;
  }
  .card-text.kaliningrad1 {
    width: 550px;
    height: 23px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 18px;
    line-height: 130%;
    margin-left: 30px;
    margin-bottom: 5px;
  } 
  .card-text.kaliningrad2 {
    width: 600px;
    height: 16px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1301px;
    height: 1033px;
    gap: 30px;
  }
  
  .title-services {
    width: 100px;
    height: 32px;
    color: $black;
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 32px;
    line-height: 110%;
    margin-top: 60px;
  }
  
  .row.services_row {
    width: 968px;
    height: 1200px;
  }
  .row.services_row {
    width: 968px;
    height: 1100px;
  }
  .card.border.services {
    width: 960px;
    height: 222px;
  }
  .card-img.services {
    width: 390px; 
    height: 182px;
  }
  .card-text.services {
    width: 500px; 
    height: 26px;
  }

  .card-body.services {
    width: 500px;
    height: 182px;
  }

  .card-title.services {
    width: 303px;
    height: 26px;
  }

  .btn.btn-custom-services {
    width: 500px; 
    height: 54px;
  }
  .btn.btn-services {
    width: 564px; 
    height: 54px;
  }
  .modal.fade.services {
    width: 624px; 
    height: 666px;
  }
  .additionally {
    width: 960px; 
    height: 268px;
  }
  .title-additionally {
    width: 153px;
    height: 26px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  .list.additionally {
    width: 800px;
    height: 162px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 18px;
    line-height: 150%;
}

.img.warning {
  width: 100px;
  height: 100px;
}
}


/* Mobile */
@media only screen and (max-width: 767px) {
  /* Блок отправления */
  .departures {
    width: 320px;
    height: 1124px;
  }
  .title-departures {
    color: $black;
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 24px;
    line-height: 130%;
    width: 151px;
    height: 31px;
  }
  .card.germany {
    width: 320px;
    height: 544px;
  }
  .img-fluid.Germany {
    width: 320px;
    height: 544px;
  }
  .card-img-overlay.Germany {
    width: 320px;
    height: 544px;
    display: flex;
  }
  .card-title.Germany {
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 24px;
    line-height: 130%;
    width: 109px;
    height: 31px;
  }
  .card-text.germany1 {
    width: 273px;
    height: 46px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 18px;
    line-height: 130%;
  } 
  .card-text.germany2 {
    width: 280px;
    height: 32px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 12px;
    line-height: 130%;
  }

  .card.kaliningrad {
    width: 320px;
    height: 560px;
  }
  .img-fluid.Kaliningrad {
    width: 320px;
    height: 560px;
  }
  .card-img-overlay.Kaliningrad {
    display: flex;
    width: 320px;
    height: 560px;
  }
  .card-title.Kaliningrad {
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 24px;
    line-height: 130%;
    width: 149px;
    height: 31px;
  }
  .card-text.kaliningrad1 {
    width: 273px;
    height: 46px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 18px;
    line-height: 130%;
  } 
  .card-text.kaliningrad2 {
    width: 280px;
    height: 48px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 12px;
    line-height: 130%;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    height: 1900px;
    gap: 20px;
  }
  
  .title-services {
    width: 320px;
    height: 31px;
    color: $black;
    font-family: "FiraSans_SemiBold600", serif;
    font-size: 24px;
    line-height: 130%;
  }
  
  .row.services_row {
    width: 320px;
    height: 1900px;
  }
  .card.border.services {
    width: 320px;
    height: 442px;
  }
  .card-img.services {
    width: 280px; 
    height: 166px;
  }
  .card-text.services {
    width: 280px; 
    height: 150px;
  }

  .card-body.services {
    width: 280px;
    height: 232px;
  }

  .card-title.services {
    width: 197px;
    height: 52px;
  }

  .btn.btn-custom-services {
    width: 280px; 
    height: 54px;
  }
  .btn.btn-services {
    width: 580px; 
    height: 54px;
  }
  .modal.fade.services {
    width: 320px; 
    height: 677px;
  }
  .additionally {
    width: 320px; 
    height: 450px;
  }
  .title-additionally {
    width: 153px;
    height: 26px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  .list.additionally {
    width: 800px;
    height: 162px;
    color: $white;
    font-family: "FiraSans_Regular400", serif;
    font-size: 16px;
    line-height: 150%;
}

.img.warning {
  width: 30px;
  height: 30px;
}
}