$orange: #fb8d00;
$grey: #ededed;
$grey-dark: #c8c8c8;
$black: #292929;
$white: #ffffff;

$H1_48: 3rem;
$H2_40: 2.5rem;
$H3_32: 2rem;
$H4_24: 1.5rem;
$r_20: 1.25rem;
$r_18: 1.125rem;
$r_14: 0.875rem;

$grey-border: 1px solid $grey;
