@import "fonts";
@import "variables";
@import "mixins";
@import "style_header_screen";
@import "style_FAQ";
@import "style_contact_us";
@import "style_header";
@import "styleblock2";
@import "style_feedback";

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "FiraSans_Regular400", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}
