@charset "UTF-8";
@font-face {
  font-family: "FiraSans_Bold700";
  src: url("../assets/fonts/FiraSans-Bold.eot") format("eot"), url("../assets/fonts/FiraSans-Bold.ttf") format("ttf"), url("../assets/fonts/FiraSans-Bold.woff") format("woff"), url("../assets/fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans_SemiBold600";
  src: url("../assets/fonts/FiraSans-SemiBold.eot") format("eot"), url("../assets/fonts/FiraSans-SemiBold.ttf") format("ttf"), url("../assets/fonts/FiraSans-SemiBold.woff") format("woff"), url("../assets/fonts/FiraSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans_Regular400";
  src: url("../assets/fonts/FiraSans-Regular.eot") format("eot"), url("../assets/fonts/FiraSans-Regular.ttf") format("ttf"), url("../assets/fonts/FiraSans-Regular.woff") format("woff"), url("../assets/fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "FiraSans_Regular400", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}

header {
  background-image: url("../assets/images/header_screen_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__screen__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 4.875rem;
  padding-bottom: 3.125rem;
}
.header__screen__title h1, .header__screen__title h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.header__lead-form {
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.lead-form {
  display: flex;
  justify-content: center;
}
.lead-form__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.625rem;
  border: 1px solid #ededed;
  padding: 1.875rem;
  width: 85%;
  color: #292929;
}
.lead-form h3 {
  font-size: 2rem;
  font-weight: 600;
}
.lead-form__input {
  display: flex;
  flex-direction: column;
}
.lead-form__input__radio {
  margin: 1.25rem 0;
}

.lead-form_radio_screen input {
  display: none;
}
.lead-form_radio_screen input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 0.75rem;
}
.lead-form_radio_screen label {
  font-size: 1.125rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.25rem;
  margin-right: 0;
  line-height: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lead-form_radio_screen label::before {
  content: "";
  display: inline-block;
  background-image: url("../assets/svg/radio-button_unchecked.svg");
  background-size: cover;
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  left: 0;
}
.lead-form_radio_screen input:checked + label::before {
  background-image: url("../assets/svg/radio-button_checked.svg");
  background-size: cover;
  width: 1.875rem;
  height: 1.875rem;
}

.lead-form__input__tel {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  border-radius: 0.1875rem;
  padding: 0.5rem;
  border: 1px solid #ededed;
  background-color: #ffffff;
}
.lead-form__input__tel label {
  font-size: 0.875rem;
}
.lead-form__input__tel input {
  font-size: 1.125rem;
  margin-top: 0.25rem;
  border: none;
  background-color: transparent;
  outline: none;
}
.lead-form__input__tel input input:hover {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__tel input input:focus {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__tel input input:active {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__tel input::-moz-placeholder {
  color: #292929;
}
.lead-form__input__tel input::placeholder {
  color: #292929;
}

.lead-form__input__tel:hover {
  border: 1px solid #fb8d00;
}

.lead-form__input__tel:focus {
  border: 1px solid #fb8d00;
}

.lead-form__input__switch__block {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
  border-radius: 0.1875rem;
  padding: 0.5rem;
  border: 1px solid #ededed;
  background-color: #ffffff;
}
.lead-form__input__switch__block label {
  font-size: 0.875rem;
}
.lead-form__input__switch__block input {
  font-size: 1.125rem;
  margin-top: 0.25rem;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lead-form__input__switch__block input input:hover {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__switch__block input input:focus {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__switch__block input input:active {
  outline: 0;
  outline-offset: 0;
}

.lead-form__input__switch__block:hover {
  border: 1px solid #fb8d00;
}

.lead-form__input__switch__block:focus {
  border: 1px solid #fb8d00;
}

.lead-form__input__switch {
  display: flex;
  flex-direction: column;
}
.lead-form__input__switch input[type=button] {
  background: url("../assets/svg/block1_switch.svg") no-repeat;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  align-self: center;
}

.lead-form__input__comments {
  margin: 0.5rem 0;
  border-radius: 0.1875rem;
  padding: 0.5rem;
  border: 1px solid #ededed;
  background-color: #ffffff;
}
.lead-form__input__comments label {
  font-size: 0.875rem;
}
.lead-form__input__comments textarea {
  font-size: 1.125rem;
  margin-top: 0.25rem;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 9.75rem;
}
.lead-form__input__comments textarea input:hover {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__comments textarea input:focus {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__comments textarea input:active {
  outline: 0;
  outline-offset: 0;
}
.lead-form__input__comments textarea::-moz-placeholder {
  color: #292929;
}
.lead-form__input__comments textarea::placeholder {
  color: #292929;
}

.lead-form__input__comments:hover {
  border: 1px solid #fb8d00;
}
.lead-form__input__comments:focus {
  border: 1px solid #fb8d00;
}

.lead-form__button {
  width: 100%;
  border: none;
  border-radius: 0.1875rem;
  background-color: #fb8d00;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.75rem 0;
  margin: 1.25rem 0;
}

@font-face {
  font-family: "FiraSans_Bold700";
  src: url("../assets/fonts/FiraSans-Bold.eot") format("eot"), url("../assets/fonts/FiraSans-Bold.ttf") format("ttf"), url("../assets/fonts/FiraSans-Bold.woff") format("woff"), url("../assets/fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans_SemiBold600";
  src: url("../assets/fonts/FiraSans-SemiBold.eot") format("eot"), url("../assets/fonts/FiraSans-SemiBold.ttf") format("ttf"), url("../assets/fonts/FiraSans-SemiBold.woff") format("woff"), url("../assets/fonts/FiraSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans_Regular400";
  src: url("../assets/fonts/FiraSans-Regular.eot") format("eot"), url("../assets/fonts/FiraSans-Regular.ttf") format("ttf"), url("../assets/fonts/FiraSans-Regular.woff") format("woff"), url("../assets/fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.FAQ {
  display: grid;
  grid-template-columns: 30% 60%;
  margin-top: 20vh;
  justify-content: center;
}
.FAQ.FAQ_title {
  font-weight: 900;
  font-family: "FiraSans_SemiBold600";
  font-size: 2.5rem;
}

.accordion-item {
  border: none;
  margin-bottom: 20px;
}
.accordion-item.active {
  outline: 1px solid #FB8D00;
  border-radius: 10px;
  /* Устанавливаем оранжевую рамку для активного элемента */
}

.accordion-button {
  position: static;
  font-size: 1.25rem;
  font-family: "FiraSans_SemiBold600";
  font-weight: 500;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button.collapsed {
  border: 1px #EDEDED solid;
  border-radius: 10px;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.accordion-body {
  font-family: "FiraSans_Regular400";
  font-weight: 400;
  font-size: 1.125rem;
}

.contact-us__wrapper {
  margin-top: 12.5rem;
  margin-left: 4.875rem;
}
.contact-us__title {
  font-size: 2.5rem;
  font-weight: 600;
}
.contact-us__image {
  margin-top: 10%;
  width: 80%;
}

.lead-form__wrapper {
  width: 85%;
}

.c-u_lead-form_radio input {
  display: none;
}
.c-u_lead-form_radio input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 0.75rem;
}
.c-u_lead-form_radio label {
  font-size: 1.125rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.25rem;
  margin-right: 0;
  line-height: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.c-u_lead-form_radio label::before {
  content: "";
  display: inline-block;
  background-image: url("../assets/svg/radio-button_unchecked.svg");
  background-size: cover;
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  left: 0;
}
.c-u_lead-form_radio input:checked + label::before {
  background-image: url("../assets/svg/radio-button_checked.svg");
  background-size: cover;
  width: 1.875rem;
  height: 1.875rem;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "FiraSans_Regular400", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}/*# sourceMappingURL=styles.css.map */