@import "fonts";
@import "variables";
@import "style1";

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "FiraSans_Regular400", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}
