@font-face {
  font-family: "FiraSans_Bold700";
  src: url("../assets/fonts/FiraSans-Bold.eot") format("eot"), url("../assets/fonts/FiraSans-Bold.ttf") format("ttf"), url("../assets/fonts/FiraSans-Bold.woff") format("woff"), url("../assets/fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans_SemiBold600";
  src: url("../assets/fonts/FiraSans-SemiBold.eot") format("eot"), url("../assets/fonts/FiraSans-SemiBold.ttf") format("ttf"), url("../assets/fonts/FiraSans-SemiBold.woff") format("woff"), url("../assets/fonts/FiraSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans_Regular400";
  src: url("../assets/fonts/FiraSans-Regular.eot") format("eot"), url("../assets/fonts/FiraSans-Regular.ttf") format("ttf"), url("../assets/fonts/FiraSans-Regular.woff") format("woff"), url("../assets/fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.header__screen__wrapper {
  background-color: #ccc;
}

.header__screen__title h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  max-width: 90%;
  padding: 6rem 4rem;
}

.lead-form {
  display: flex;
  justify-content: center;
}
.lead-form__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
  width: 80%;
}
.lead-form h2 {
  font-size: 1.25rem;
  font-weight: 700;
}
.lead-form__input {
  display: flex;
  flex-direction: column;
}
.lead-form__input__radio {
  margin: 1rem 0;
}

.lead-form__input__radio__wrap input {
  display: none;
}
.lead-form__input__radio__wrap input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lead-form__input__radio__wrap label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.5rem;
  margin-right: 0;
  line-height: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lead-form__input__radio__wrap label::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0;
  border: 1px solid #aaa;
}
.lead-form__input__radio__wrap input:checked + label::before {
  border-color: #aaa;
  background-color: #aaa;
}
.lead-form__input__radio__wrap input:hover {
  border-color: #000;
}

.lead-form__input__switch__block {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: 1px solid #aaa;
  background-color: #ddd;
}
.lead-form__input__switch__block label {
  font-size: 0.7rem;
}
.lead-form__input__switch__block input {
  margin-top: 0.25rem;
  border: none;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.lead-form__input__switch {
  display: flex;
  flex-direction: column;
}
.lead-form__input__switch input[type=button] {
  background: url("../assets/svg/block1_switch.svg") no-repeat;
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  align-self: center;
}

.lead-form__input__num-of-pass {
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: 1px solid #aaa;
  background-color: #ddd;
}
.lead-form__input__num-of-pass label {
  font-size: 0.7rem;
}
.lead-form__input__num-of-pass select {
  margin-top: 0.25rem;
  border: none;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.lead-form__input__comments {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #aaa;
  background-color: #ddd;
}
.lead-form__input__comments label {
  font-size: 0.7rem;
}
.lead-form__input__comments textarea {
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 6rem;
}

.lead-form__info__tariff {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.lead-form__info__tariff__title {
  font-size: 1.25rem;
}
.lead-form__info__tariff__cost {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.lead-form__info__fz-rule {
  font-size: 0.7rem;
}

.lead-form__button {
  width: 100%;
  border: none;
  background-color: #303030;
  color: #fff;
  padding: 0.75rem 0;
  margin: 1rem 0;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "FiraSans_Regular400", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}/*# sourceMappingURL=styles.css.map */