body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "FiraSans_Regular400", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}

.header__container {
  position: relative;
  &__banner {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.header__screen__title {
  @include flex-column;
  justify-content: flex-end;
  padding-left: $left-block-gap;
  padding-bottom: 3.125rem;
  & h1,
  & h2 {
    text-transform: uppercase;
    font-size: $H1_48;
    font-weight: 700;
    color: $white;
  }
}

.header__lead-form {
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.lead-form {
  display: flex;
  justify-content: center;
  &__wrapper {
    @include flex-column;
    background-color: $white;
    border-radius: 0.625rem;
    border: $grey-border;
    padding: 1.875rem;
    width: 85%;
    color: $black;
  }
  & h3 {
    font-size: $H3_32;
    font-weight: 600;
  }
  &__input {
    @include flex-column;
  }
  &__input__radio {
    margin: 1.25rem 0;
  }
}

// Radio-buttons styling
.lead-form_radio_screen {
  & input {
    display: none;
  }
  & input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 0.75rem;
  }
  & label {
    font-size: $r_18;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 2.25rem;
    margin-right: 0;
    line-height: 1.25rem;
    user-select: none;
  }
  & label::before {
    content: "";
    display: inline-block;
    background-image: url("../assets/svg/radio-button_unchecked.svg");
    background-size: cover;
    width: 1.875rem;
    height: 1.875rem;
    position: absolute;
    left: 0;
  }
  & input:checked + label::before {
    background-image: url("../assets/svg/radio-button_checked.svg");
    background-size: cover;
    width: 1.875rem;
    height: 1.875rem;
  }
}

// Telephone input styling
.lead-form__input__tel {
  @include flex-column;
  margin: 0.5rem 0;
  @include input_border;
  & label {
    font-size: $r_14;
  }
  & input {
    font-size: $r_18;
    margin-top: 0.25rem;
    @include input_clean;
  }
  & input::placeholder {
    color: $black;
  }
}
.lead-form__input__tel:hover {
  border: $orange-border;
}
.lead-form__input__tel:focus {
  border: $orange-border;
}

// Switcher input styling
.lead-form__input__switch__block {
  @include flex-column;
  margin: 0.25rem 0;
  @include input_border;
  & label {
    font-size: $r_14;
  }
  & input {
    font-size: $r_18;
    margin-top: 0.25rem;
    @include input_clean;
    user-select: none;
  }
}
.lead-form__input__switch__block:hover {
  border: $orange-border;
}
.lead-form__input__switch__block:focus {
  border: $orange-border;
}
.lead-form__input__switch {
  @include flex-column;
  & input[type="button"] {
    background: url("../assets/svg/block1_switch.svg") no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    align-self: center;
  }
}

.lead-form__input__comments {
  margin: 0.5rem 0;
  @include input_border;
  & label {
    font-size: $r_14;
  }
  & textarea {
    font-size: $r_18;
    margin-top: 0.25rem;
    @include input_clean;
    width: 100%;
    height: 9.75rem;
  }
  & textarea::placeholder {
    color: $black;
  }
}
.lead-form__input {
  &__comments:hover {
    border: $orange-border;
  }
  &__comments:focus {
    border: $orange-border;
  }
}

.lead-form__button {
  width: 100%;
  border: none;
  border-radius: 0.1875rem;
  background-color: $orange;
  color: $white;
  font-size: $r_20;
  padding: 1.25rem 0;
  margin: 1.25rem 0;
}

@media screen and (max-width: 1025px) and (min-width: 426px) {
  .header__screen {
    &__wrapper {
      margin: 3.125rem 0;
      padding: 0;
    }
    &__title {
      padding-left: 1.25rem;
    }
  }
  .header__lead-form {
    margin-top: -3.125rem;
  }
  .lead-form {
    & form {
      display: grid;
      grid-template-columns: 45% 55%;
      grid-template-rows: 1fr 1fr;
    }
  }
  .lead-form__grid-col1r1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .lead-form__grid-col2 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    margin-left: 1.25rem;
  }
  .lead-form__grid-col1r2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    @include flex-column;
    justify-content: flex-end;
  }
  .header__screen__title {
    & h1,
    & h2 {
      font-size: $H2_40;
    }
  }
  .lead-form {
    & h3 {
      font-size: $H4_24;
      font-weight: 600;
    }
  }
  .lead-form_radio_screen {
    & label {
      font-size: $r_14;
    }
  }
  .lead-form__input__tel,
  .lead-form__input__switch__block {
    & label {
      font-size: $r_12;
    }
    & input {
      font-size: 1rem;
    }
  }
  .lead-form__input__comments {
    & label {
      font-size: $r_12;
    }
    & textarea {
      font-size: 1rem;
    }
  }
  .lead-form__button {
    font-size: 1rem;
  }
  .lead-form__info__fz-rule {
    font-size: $r_14;
  }
}

@media screen and (max-width: 425px) {
  .header__screen__title {
    & h1,
    & h2 {
      font-size: $H4_24;
    }
  }
  .lead-form {
    & h3 {
      font-size: $r_20;
      font-weight: 600;
    }
  }
  .lead-form_radio_screen {
    & label {
      font-size: $r_14;
    }
  }
  .lead-form__input__tel,
  .lead-form__input__switch__block {
    & label {
      font-size: $r_12;
    }
    & input {
      font-size: 1rem;
    }
  }
  .lead-form__input__comments {
    & label {
      font-size: $r_12;
    }
    & textarea {
      font-size: 1rem;
    }
  }
  .lead-form__button {
    font-size: 1rem;
  }
  .lead-form__info__fz-rule {
    font-size: $r_14;
  }
}
